---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Us";
---

<BaseLayout pageTitle={pageTitle}>
  <p>TODO: Some introductory words about this website.</p>
</BaseLayout>