---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Thoughts on Sustainability";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Here are some thoughts and actions we can take for a more sustainable future.</p>
    <ul class="blog-links">
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>
